.itemCard {
    margin: 20px;
    padding: 20px;
    color: #8c6856;
}

.itemCard h4{
    color: #9badb2;
}
.itemCard img {
    height: 30rem;
}

.itemCard button {
    padding: 5px;
    border: solid #8c6856 .5px;
    border-radius: 10px;
    color: #8c6856;
    background-color: #dcc8b9;
}

.itemCard button:hover{
    border: solid #9badb2 .5px;
    color: #9badb2;
    background-color: #c4cfd6;
}