.itemCard {
    width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    gap: 5px;
    color: #8c6856;
}

.itemCard h4{
    color: #9badb2;
}
.itemCard img {
    height: 25rem;
    border-radius: 30px;
}

.itemCard .button {
    padding: 5px;
    border: solid #8c6856 .5px;
    border-radius: 10px;
    color: #8c6856;
    background-color: #dcc8b9;
    text-decoration: none;

}

.itemCard .button:hover{
    border: solid #9badb2 .5px;
    color: #9badb2;
    background-color: #c4cfd6;
}

.itemCard:hover{
    border: 1.5px solid #8c6856;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius:  40px;

}