.contenedorDetalle{
    position: relative;
    margin: 30px;
    padding: 10px;
    text-align: center;
    background-color: #9badb2;
    border-radius: 30px;
}

.contenedorDetalle img {
    width: 30rem;
}

.colorDetalle {
    color: #faeee5;
    padding: .5rem;
}

.volver img {
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
    width: 20px;
}
.stock-disponible{
    color: #faeee5;
    font-size: 10px;
}
.btn-finalizar{
    color: #8c6856;
    font-weight: 600;
}