@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: #FAEEE5;
}