.form-checkout {
    display: flex;
    justify-content: center;
    gap: 10rem;
}

#orden-de-compra {
    padding: 20px;
    border: 1px solid #8C6856;
    color:#8C6856;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#checkout p {
    color: #8C6856;
}

#form-orden{
    display: flex;
    flex-direction: column;
    color: #8C6856;
    padding: 10px;
    gap: 20px;
}

input {
    background-color: #faeee5;
    border: .5px solid  #8C6856;
    padding: 5px;
}

#form-orden #submit {
    margin-top: auto;
}

/* #faeee5 clarito
   #8C6856 oscuro
   #9badb2 celeste
*/