.form-checkout {
    display: flex;
    justify-content: center;
    gap: 10rem;
}

#orden-de-compra {
    padding: 20px;
    border: 1px solid #8C6856;
    color:#8C6856;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#orden-de-compra .img-checkout {
    width: 3rem;
}

#orden-de-compra #total-checkout p {
    color: #8C6856;
}

#checkout p {
    color: #8C6856;
}

#form-orden{
    display: flex;
    flex-direction: column;
    color: #8C6856;
    padding: 10px;
    gap: 20px;
}

input {
    background-color: #faeee5;
    border: .5px solid  #8C6856;
    padding: 5px;
}

#form-orden #submit {
    margin-top: auto;
}

#orden-fin {
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#orden-fin #michi-cumple{
    display: block;
    height: 30rem;
    border-radius: 50px;
}

#orden-fin #grax {
    color: #9badb2;
    font-weight: 400;
}
